@page
@model RecruitCatYumy.Pages.Companies.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Company</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Company.CompanyId" />
            <div class="form-group">
                <label asp-for="Company.CompanyName" class="control-label"></label>
                <input asp-for="Company.CompanyName" class="form-control" />
                <span asp-validation-for="Company.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.PositionName" class="control-label"></label>
                <input asp-for="Company.PositionName" class="form-control" />
                <span asp-validation-for="Company.PositionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.MinimumSalary" class="control-label"></label>
                <input asp-for="Company.MinimumSalary" class="form-control" />
                <span asp-validation-for="Company.MinimumSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.MaximumSalary" class="control-label"></label>
                <input asp-for="Company.MaximumSalary" class="form-control" />
                <span asp-validation-for="Company.MaximumSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.StartDate" class="control-label"></label>
                <input asp-for="Company.StartDate" class="form-control" />
                <span asp-validation-for="Company.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.IndustryId" class="control-label">Industry</label>
                <select asp-for="Company.IndustryId" class="form-control" asp-items="ViewBag.IndustryId"></select>
                <span asp-validation-for="Company.IndustryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Location" class="control-label"></label>
                <textarea asp-for="Company.Location" class="form-control"></textarea>
                <span asp-validation-for="Company.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Income" class="control-label"></label>
                <input asp-for="Company.Income" class="form-control" />
                <span asp-validation-for="Company.Income" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.NumberOfEmployee" class="control-label"></label>
                <input asp-for="Company.NumberOfEmployee" class="form-control" />
                <span asp-validation-for="Company.NumberOfEmployee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
