@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4">IS-7012 Team 2</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img class="card-img-top" src="/pics/Mian.jpeg" alt="cardimage" width="266" height="390">
            </div>
            <div class="col-sm-3">
                <img class="card-img-top" src="/pics/Mengying.jpg" alt="cardimage" width="266" height="400">
            </div>
            <div class="col-sm-3">
                <img class="card-img-top" src="/pics/Angela.png" alt="cardimage" width="266" height="400">
            </div>
        </div>
    </div>




    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

